@page
@model NAVALUNA_LabAct1.Pages.Shared.news3Model
@{
}
<div class="news-item">
    <div class="news-content">
        <h3>New fire erupts in Southern California as thousands remain under evacuation from fast-moving Hughes Fire</h3>
    </div>
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25022811996418.jpg?q=w_1110,c_fill/f_webp" alt="news3" />
</div>
