@page
@model NAVALUNA_LabAct1.Pages.Shared.news2Model
@{
}
<div class="news-item">
    <div class="news-content">
        <h3>How cities across the US are preparing for Trump’s immigration crackdown</h3>
    </div>
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25020749592705.jpg?q=w_1110,c_fill/f_webp" alt="news2" />
</div>