@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="News">Latest News</h1>
    
    <div class="news">
        <div class="news-item">
            <div class="news-content">
                <h3>Who foots the bill for LA wildfires, ‘silent killer,’ the face of rugby: Catch up on the day’s stories</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25010441253005-20250110161715610.jpg?q=w_1110,c_fill/f_webp" alt="news1" />
        </div>
        <div class="news-item">
            <div class="news-content">
                <h3>How cities across the US are preparing for Trump’s immigration crackdown</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25020749592705.jpg?q=w_1110,c_fill/f_webp" alt="news2" />
        </div>
        <div class="news-item">
            <div class="news-content">
                <h3>New fire erupts in Southern California as thousands remain under evacuation from fast-moving Hughes Fire</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25022811996418.jpg?q=w_1110,c_fill/f_webp" alt="news3" />
        </div>
        <div class="news-item">
            <div class="news-content">
                <h3>Trump signs executive order aimed at weakening federal employee protections</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25021001857811.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="news4" />
        </div>
        <div class="news-item">
            <div class="news-content">
                <h3>Elon Musk is causing trouble in Europe. What’s in it for him?</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2185933741-20250121142043913.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="news5" />
        </div> <div class="news-item">
            <div class="news-content">
                <h3>Elon Musk is causing trouble in Europe. What’s in it for him?</h3>
            </div>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2185933741-20250121142043913.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="news5" />
        </div>
    </div>
    
</div>
