@page
@model PrivacyModel
@{
   
}
<h1>@ViewData["Title"]</h1>

<div class="news-item">
    <div class="news-content">
        <h3>Who foots the bill for LA wildfires, ‘silent killer,’ the face of rugby: Catch up on the day’s stories</h3>
    </div>
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap25010441253005-20250110161715610.jpg?q=w_1110,c_fill/f_webp" alt="news1" />
</div>
